/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
/* line 41, ../sass/global.styles.scss */
html {

}

/* line 45, ../sass/global.styles.scss */
body {

}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* line 135, ../sass/global.styles.scss */
pre,
code,
tt,
samp,
kbd,
var {

}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */
/*
 * Wraps all header elements - branding and .region-header
 */
/*
 * Wraps the sidebars the content column
 */
/*
 * Main content column wrapper
 */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
/* line 231, ../sass/global.styles.scss */
#header-wrapper {
  /* Debug styles, is this working */

}

/*
 * Wraps the nav elements
 */
/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
/* line 289, ../sass/global.styles.scss */
#footer-wrapper {
  /* Debug styles, is this working? */

}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/*
 * Logo
 */
/* line 310, ../sass/global.styles.scss */
#logo {

}
/* line 313, ../sass/global.styles.scss */
#logo img {

}

/*
 * Wrapper for the site name and slogan
 */
/*
 * Site name (h1)
 */
/* line 328, ../sass/global.styles.scss */
#site-name {

}
/* line 333, ../sass/global.styles.scss */
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
/* line 338, ../sass/global.styles.scss */
#site-name a:hover, #site-name a:focus {
  text-decoration: none;
}

/*
 * Site slogan (h2)
 */
/* line 349, ../sass/global.styles.scss */
#site-slogan {

}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
/* line 367, ../sass/global.styles.scss */
#page-title {
  margin: 0;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */

/*
 * Generic styles for the more link
 */
/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
/* line 408, ../sass/global.styles.scss */
ul.links {
  margin: 0;
  padding: 0;
}
/* line 412, ../sass/global.styles.scss */
ul.links.inline {
  display: block;
}
/* line 416, ../sass/global.styles.scss */
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
/* line 427, ../sass/global.styles.scss */
.search-results {
  margin: 0;
  padding: 0;
}


/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/*
 * Header region, embedded in the #header
 */
/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
/*
 * First sidebar
 */
/*
 * Second sidebar
 */
/*
 * Tertiary content
 */
/*
 * Footer region
 */
/* =============================================================================
 *   Links
 * ========================================================================== */
/* line 540, ../sass/global.styles.scss */


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/* line 560, ../sass/global.styles.scss */
.nav {
  clear: both;
  margin: 10px 0;
}
/* line 564, ../sass/global.styles.scss */
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 570, ../sass/global.styles.scss */
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 579, ../sass/global.styles.scss */
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
/* line 591, ../sass/global.styles.scss */
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
/* line 601, ../sass/global.styles.scss */
ul.sf-menu {
  margin-bottom: 0;
}
/* line 604, ../sass/global.styles.scss */
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
/* line 617, ../sass/global.styles.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
/* line 624, ../sass/global.styles.scss */
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
/* line 640, ../sass/global.styles.scss */
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 651, ../sass/global.styles.scss */
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
/* line 661, ../sass/global.styles.scss */
.sf-vertical {
  width: 100%;
}
/* line 664, ../sass/global.styles.scss */
.sf-vertical li {
  width: 100%;
}
/* line 669, ../sass/global.styles.scss */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 677, ../sass/global.styles.scss */
.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
/* line 687, ../sass/global.styles.scss */
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
/* line 695, ../sass/global.styles.scss */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
/* line 705, ../sass/global.styles.scss */
.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
/* line 713, ../sass/global.styles.scss */
.at-mt .at-menu-toggle-button {
  margin: 0;
}
/* line 717, ../sass/global.styles.scss */
.at-mt .at-menu-toggle ul a {
  padding: 0 10px;
  white-space: nowrap;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* line 728, ../sass/global.styles.scss */
ul.menu {
  padding-left: 15px;
}
/* line 731, ../sass/global.styles.scss */
ul.menu ul {
  padding-left: 15px;
}
/* line 739, ../sass/global.styles.scss */
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
/* line 768, ../sass/global.styles.scss */
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
/* line 785, ../sass/global.styles.scss */
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
/* line 791, ../sass/global.styles.scss */
.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
/* line 801, ../sass/global.styles.scss */
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
/* line 805, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
/* line 810, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 815, ../sass/global.styles.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 820, ../sass/global.styles.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 824, ../sass/global.styles.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
/* line 851, ../sass/global.styles.scss */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

/* line 858, ../sass/global.styles.scss */
.item-list ul.pager li {
  margin: 0;
}

/* line 863, ../sass/global.styles.scss */
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
/* line 869, ../sass/global.styles.scss */
ul.pager li.pager-current {
  font-weight: 700;
}

/* line 875, ../sass/global.styles.scss */
.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
/* line 912, ../sass/global.styles.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 921, ../sass/global.styles.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 931, ../sass/global.styles.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 942, ../sass/global.styles.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
/* line 955, ../sass/global.styles.scss */
#tasks {
  margin-bottom: 15px;
}

/* line 960, ../sass/global.styles.scss */
ul.primary {
  border-bottom-color: #ccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}
/* line 965, ../sass/global.styles.scss */
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
/* line 970, ../sass/global.styles.scss */
ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
/* line 980, ../sass/global.styles.scss */
ul.primary li a:hover, ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}
/* line 989, ../sass/global.styles.scss */
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}

/* line 999, ../sass/global.styles.scss */
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
/* line 1004, ../sass/global.styles.scss */
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
/* line 1010, ../sass/global.styles.scss */
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
/* line 1024, ../sass/global.styles.scss */
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
/* line 1051, ../sass/global.styles.scss */
.field-label-inline {
  /* Remove the margin on inline field lables to preserve vertical formatting */
}
/* line 1054, ../sass/global.styles.scss */
.field-label-inline .field-label {
  margin: 0;
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
/* line 1062, ../sass/global.styles.scss */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
/* line 1091, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
/* line 1096, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
/* line 1101, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */
/*
 * Float left setting
 */
/* line 1215, ../sass/global.styles.scss */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
/* line 1224, ../sass/global.styles.scss */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
/* line 1233, ../sass/global.styles.scss */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
/* line 1247, ../sass/global.styles.scss */
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
/* line 1285, ../sass/global.styles.scss */
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
/*
 * Match item list and block menu margin and padding
 */
/* line 1301, ../sass/global.styles.scss */
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
/* line 1306, ../sass/global.styles.scss */
.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
/* line 1479, ../sass/global.styles.scss */
.node {
  margin-bottom: 20px;
}
/* line 1496, ../sass/global.styles.scss */
.node .node-title {
  margin: 0;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
/* line 1554, ../sass/global.styles.scss */
#comments {
  margin: 1.5em 0;
}
/* line 1558, ../sass/global.styles.scss */
#comments h2.comment-title {
  margin: 0;
}
/* line 1562, ../sass/global.styles.scss */
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
/* line 1572, ../sass/global.styles.scss */
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
/* line 1603, ../sass/global.styles.scss */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
/* line 1635, ../sass/global.styles.scss */
.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */
/* line 1643, ../sass/global.styles.scss */
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* line 1657, ../sass/global.styles.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}
/* line 1663, ../sass/global.styles.scss */
.form-item label {
  font-weight: 700;
}
/* line 1670, ../sass/global.styles.scss */
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
/* line 1683, ../sass/global.styles.scss */
.marker,
.form-required {
  color: #c00;
}

/*
 * The submit button
 */
/* line 1697, ../sass/global.styles.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
/* line 1706, ../sass/global.styles.scss */
fieldset {
  border: 1px solid #ccc;
}

/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
/* line 1720, ../sass/global.styles.scss */
a.button {
  -moz-appearance: button;
  -webkit-appearance: button;
}

/*
 * Password confirmation
 */
/* line 1728, ../sass/global.styles.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
/* line 1738, ../sass/global.styles.scss */
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
/* line 1743, ../sass/global.styles.scss */
table.sticky-header {
  z-index: 10;
}

/* line 1749, ../sass/global.styles.scss */
table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

/* line 1759, ../sass/global.styles.scss */
table,
td,
th {
  vertical-align: middle;
}

/* line 1766, ../sass/global.styles.scss */
caption,
th,
td {
  text-align: left;
}

/* line 1773, ../sass/global.styles.scss */
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

/* line 1779, ../sass/global.styles.scss */
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

/* line 1790, ../sass/global.styles.scss */
tbody tr {
  border-top: 1px solid #ccc;
}

/* line 1795, ../sass/global.styles.scss */
tr {
  /* Table row striping */
}
/* line 1797, ../sass/global.styles.scss */
tr.odd {
  background: #fff;
}
/* line 1802, ../sass/global.styles.scss */
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}
/* line 1813, ../sass/global.styles.scss */
tr.odd td.active {
  background-color: #eee;
}
/* line 1817, ../sass/global.styles.scss */
tr.even td.active {
  background-color: #ebebeb;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
/* line 1840, ../sass/global.styles.scss */
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: normal;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
/* line 1856, ../sass/global.styles.scss */
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 1861, ../sass/global.styles.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Unpublished nodes
 */
/* line 1902, ../sass/global.styles.scss */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
/* line 186, ../sass/_custom.scss */
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
/* line 1913, ../sass/global.styles.scss */
.maintenance-page .container {
  padding: 40px 0;
}
/* line 1917, ../sass/global.styles.scss */
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

/* line 1925, ../sass/global.styles.scss */
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
/* line 1932, ../sass/global.styles.scss */
.db-offline div.messages {
  margin: 20px 0 0;
}
/* line 1936, ../sass/global.styles.scss */
.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
/* line 1949, ../sass/global.styles.scss */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
/* line 1958, ../sass/global.styles.scss */
.dev-query {
  background: #eee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
/* line 1967, ../sass/global.styles.scss */
#styleguide-header {
  padding: 0 10px;
}
/* line 1970, ../sass/global.styles.scss */
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}

/* Begin Penzias Styles */

/* General Structure */
.region-leaderboard,
#header,
.front .home-panel > div,
.not-front #columns,
.not-front #main-content-header .title-wrap{
    max-width: 1400px;
    margin: auto;
}
.region-leaderboard,
#header,
#footer,
.not-front #columns,
.not-front #main-content-header .title-wrap{
    padding: 0 50px;
}
#page-wrapper{
    margin-top: -6px;
}
#header{
    padding-top: 20px;
}

article,
.node{
    margin-bottom: 0;
}

#header-wrapper{
    background-color: #ed1c24;
    padding-top: 20px;
    padding-bottom: 20px;
}

#branding{
    float: left;
}
#logo img{
    width: 400px;
}
#burger-wrap,
#search-glass{
    float: right;
    padding-top: 80px;
}
.region-header{
    clear: both;
}
#search-glass{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 10px;
}
#block-search-form{
    margin-bottom: 0;
    float: right;
    width: 243px;
    padding-right: 17px;
}
.region-header,
#block-search-form input[type='submit']{
    display: none;
}
#block-search-form input[type='search']{
    padding: 6px;
    width: 100%;
}
.burger{
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 3px;
}

.burger img{
    margin-right: 3px;
}

/* Secondary Menus */

#content .block-menu-block{
    
}

#content .block-menu-block ul.menu{
    padding: 0;
    margin: 0;
}

#content .block-menu-block ul.menu li{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}
#content .block-menu-block ul.menu li:last-child{
    padding-right: 0;
}
.field-name-field-big-link a,
#content .block-menu-block ul.menu li a{
    display: block;
    background: #262626;
    color: #FFF;
    padding: 1.4vw;
    font-size: 2.1vw;
}
.field-name-field-big-link a{
    text-align: center;
}
.field-name-field-big-link a:hover,
#content .block-menu-block ul.menu li a:hover,
#content .block-menu-block ul.menu li a.active{
    color: #ed1c24;
}
.section-academic-programs #content .block-menu-block{
    background-image: url(images/academic-menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 15vw;
    border-top: 2px solid #ed1c24;
    margin-bottom: 35px;
}
.section-academic-programs #content .block-menu-block ul.menu li{
    width: 25%;
}

.section-research #content .block-menu-block{
    margin-bottom: 35px;
    margin-top: 20px;
}
.section-about #content .block-menu-block ul.menu li,
.section-research #content .block-menu-block ul.menu li{
    width: 33.33%;
}


/* Front */

.front #content .node-content,
.front #content .node-content a{
    color: #FFF;
    font-size: 2.1vw;
    line-height: 2.8vw;
}
.front #content .node-content .contextual-links-wrapper a{
    font-size: 14px;
}

.front .field-name-field-headline{
    font-size: 5.3vw;
    font-weight: bold;
    font-family: 'vitesse';
    text-transform: uppercase;
    line-height: .75;
    padding-left: 3.15vw;
}

.front .field-name-field-content{
    background-color: rgba(0,0,0, .6);
    padding: 3.2vw;
}
.front .home-panel{
    padding-top: 7vw;
    padding-bottom: 14vw;
}
.front .home-panel.no-link{
    padding-bottom: 0;
}
.front .no-link .field-name-field-content{
    font-size: 3.18vw;
    line-height: 3.4vw;
    font-family: opensans-light;
    padding: 3.2vw 5.2vw;
}
.front .field-type-link-field{
    margin-top: 5px;
}
.front .field-type-link-field .field-item{
    display: inline-block;
    width: 100%;
}
.front .field-type-link-field .field-item a{
    background-color: rgba(0,0,0, .6);
    display: block;
    padding: 25px 45px;
    font-family: opensans-semi;
    margin: 0;
}
.front .small .node-inner-wrap{
    max-width: 960px;
    float: right;
}
.front .red .field-name-field-content,
.front .red .field-type-link-field .field-item a{
    background-color: rgba(237,28,36, .8);
}
.front .double-link .field-type-link-field .field-item{
    width: 50%;
}
.front .double-link .field-type-link-field .field-item a{
    text-align: center;
}
.front .double-link .field-type-link-field .field-item:first-child a{
    margin-right: 2.5px;
}
.front .double-link .field-type-link-field .field-item:last-child a{
    margin-left: 2.5px;
}
.front .triple-link .field-type-link-field .field-item{
    width: 33.33%;
    text-align: center;
}
.front .triple-link .field-type-link-field .field-item:nth-child(2) a{
    margin: 0 5px;
}
.front .blue .field-name-field-content{
    background-color: rgba(5,60,110, .5);
}
.front .view-reference .field-name-field-content{
    margin-bottom: 20px;
}
.front #content .node-research.node-teaser h2.node-title{
    background-color: rgba(0,115,185, .9);
    padding: 1.8vw 1.4vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.front #content .node-research.node-teaser h2.node-title,
.front #content .node-research.node-teaser h2.node-title a{
    font-size: 13px;
    font-family: opensans-semi;
    line-height: 17px;
    display: block;
}
.front #content .node-research.node-teaser{
    margin-left: 4px;
    margin-right: 4px;
}
.front #content .node-research.node-teaser .node-inner-wrap{
    position: relative;
}
.front #content .node-research.node-teaser img{
    display: block;
    width: 100%;
}
.front .carousel-wrap .view-content{
    padding: 0 40px;
    position: relative;
}
.home-panel{
    background-size: cover;
    background-repeat: no-repeat;
}

/* Basic Pages & Paragraphs */

.back-to-link{
    margin-top: 30px;
}

h1#page-title{
  color: #959595;
  font-size: 36px;
  line-height: 36px;
  padding-top: 35px;
  margin-bottom: 15px;
  overflow: hidden;
  margin-bottom: 20px
}
h1#page-title .section{
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15px;
}
h1#page-title > span{
    display: block;
    float: left;
}
h1#page-title > span:last-child{
    margin-bottom: 0;
}
h1#page-title .section-title{
    margin-top: 10px;
}

.node-page .field-name-body,
.paragraphs-item-wysiwyg-content{
    max-width: 1200px;
}

.field-name-field-paragraphs > .field-items > .field-item{
    margin-bottom: 35px;
}

.field-name-field-paragraphs > .field-items > .field-item:last-child{
    margin-bottom: 0;
}

.section-research .paragraphs-items{
    border-top: 2px solid #ed1c24;
}
.section-research .field-name-field-paragraphs > .field-items > .field-item:first-child .paragraphs-item-wysiwyg-content{
    padding-top: 35px;
}
/* Paragraphs */
.field-name-field-image-grid-item{
    margin-top: 35px;
}
.field-name-field-image-grid-item .field-item{
    display: inline-block;
    margin-right: 4px;
}

.field-name-field-image-grid-item img{
    display: block;
}

/* People */
.people-card-content{
    display: none;
}

.people-grid img{
    display: block;
}

.people-grid .views-row{
    float: left;
    width: 20%;
    padding-right: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.people-grid .people-small-content{
    position: relative;
    cursor: pointer;
}
.people-grid .people-small-content .name-grouping{
    position: absolute;
    bottom: 0;
    color: #FFF;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3vw;
    line-height: 1.6vw;
    padding: .7vw 1.42vw;
}
.people-grid .views-field-field-person-image{
    background: #7f7f7f;
}
.people-grid .people-small-content:hover .name-grouping{
    background: rgba(237,28,36,.8); 
}
.people-grid .people-small-content .views-field-field-last-name,
.card-content-inner .semi{
    font-family: opensans-semi;
}
.card-content-inner{
    font-size: 14px;
}
.card-content-inner .views-field-nothing-1{
    margin-bottom: 15px;
}
.card-content-inner .first-last{
    font-size: 24px;
    margin: 0px 0 5px;
}

.person-contact{
    margin-top: 25px;
}
.person-contact > div{
    margin-bottom: 10px;
}
.person-contact > div:last-child{
    margin-bottom: 0;
}
.views-field-field-email a{
    color: #000;
}

.node-person{
    border-top: 2px solid #ed1c24;
    margin-bottom: 25px;
}

.node-person .field-name-field-person-image,
.node-person .group-person-list-info{
    display: table-cell;
    vertical-align: top;
}
.node-person .group-person-list-info{
    padding-right: 20px;
}
.node-type-person .node-person .group-person-list-info{
    padding-right: 0;
}
.node-person .field-name-field-person-image{
    min-width: 272px;
    width: 272px;
    padding-right: 30px;
}
.node-type-person .field-name-field-person-image{
    padding-right: 0;
    min-width: 450px;
    width: 450px;
}
.node-type-person .group-person-content{
    padding: 0 30px;
}
.node-person .field-name-field-person-image img{
    display: block;
}
.node-person .group-name-dept{
    margin: 15px 0 20px;
}

.node-person .group-name-dept,
.node-type-person .field-name-field-title-and-dept{
    font-size: 14px;
}
.node-type-person .field-name-field-title-and-dept{
    margin-bottom: 20px;
}
.node-person .group-name-grouping > div{
    display: inline-block;
    margin-right: 7px;
    font-size: 24px;
}
.node-person .field-name-field-last-name{
    font-family: opensans-semi;
}

.node-person .group-person-contact{
    font-size: 14px;
    margin-top: 20px;
}
.node-person .group-person-contact > div{
    margin-bottom: 10px;
}

.node-person .group-person-contact > div:last-child{
    margin-bottom: 0;
}
.node-person .field-name-field-email a{
    color: #000;
}

.node-type-person .group-name-grouping{
    background-color: #ed1c24;
    color: #FFF;
    padding: 25px 30px 10px;
    margin-bottom: 25px;
}

/* Core Deptartments */

.node-core-department.node-teaser .field-name-field-dept-image,
.node-core-department.node-teaser .group-dept-info{
    display: table-cell;
    vertical-align: top;
}
.node-core-department.node-teaser .field-name-field-dept-image{
    width: 340px;
    padding-right: 30px;
}

.core-dept-list .views-row{
    border-top: 2px solid #ed1c24;
    margin-bottom: 30px;
}

.node-core-department.node-teaser .group-dept-info{
    padding-right: 25px;
}

.node-core-department.node-teaser h2.node-title{
    font-size: 36px;
    line-height: 44px;
    font-family: opensans-semi;
    margin: 15px 0;
}

.group-dept-head .field-name-field-dept-head-name .field-item:after{
    content: ', ';
}
.group-dept-head .field-name-field-dept-head-title{
    font-style: italic;
}

.group-dept-head{
    margin-top: 30px;
}
.core-dept-url{
    margin-top: 10px;
}

.field-name-field-dept-head-name,
.core-dept-url{
    font-size: 16px;
    font-family: opensans-semi;
}

/* Events */

.node-type-event #content{
    border-top: 3px solid #ed1c24;
    padding-top: 20px;
}
.node-event.node-teaser{
    border-top: 1px solid #ed1c24;
}
.featured-event .views-row{
    border-top: 3px solid #ed1c24;
    padding-top: 30px;
    margin-bottom: 35px;
    display: table;
    width: 100%;
}
.node-event.node-teaser .node-inner-wrap{
    display: table;
    width: 100%;
}
.group-event-image,
.group-date,
.group-event-info{
    display: table-cell;
    vertical-align: top;
    padding-top: 15px;
}

.node-event.node-teaser .group-date{
    border-top: 5px solid #ed1c24;
    font-size: 20px;
    font-family: opensans-bold;
    width: 32%;
}
.group-event-info{
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 25px;
    width: 68%;
}

.no-image .group-event-info{
    width: 100%;
    padding-left: 0;
}

.featured-event .views-field-title,
.featured-event .views-field-title a,
.node-event.node-teaser h2.node-title,
.node-event.node-teaser h2.node-title a{
    font-family: opensans-bold;
    font-size: 18px;
    color: #000;
    padding-top: 7px;
}
.featured-event .views-field-title,
.featured-event .views-field-title a{
    padding-top: 0;
}
.node-type-event h2.node-title,
.featured-event .views-field-title{
    margin-bottom: 20px;
}
.node-type-event .field-name-field-event-date,
.featured-event .views-field-field-event-date{
    font-size: 14px;
    font-family: opensans-bold;
}
.group-time-location{
    font-family: opensans-semi;
    font-size: 14px;
}
.group-time-location > div{
    display: inline-block;
}
.group-time-location .time-only{
    margin-right: 4px;
}
.group-time-location .time-only:after{
    content: '.';
}
.group-speaker-info{
    margin-top: 20px;
    margin-bottom: 15px;
}
.group-speaker-info .views-field-field-speaker-name,
.group-speaker-info .field-name-field-speaker-name{
    font-size: 18px;
    font-family: opensans-bold;
}
.group-speaker-info .views-field-field-speaker-affiliation,
.group-speaker-info .field-name-field-speaker-affiliation{
    font-style: italic;
}

.node-event.node-teaser .group-speaker-info > div:first-child .field-item:after{
    content: ',';
}
.node-event.node-teaser .group-speaker-info > div:last-child .field-item:after{
    content: '';
}
.featured-event .views-field-view-node,
.link-to-event{
    margin-bottom: 15px;
}
.featured-event .views-field-view-node a,
.link-to-event a{
    font-family: opensans-bold;
    color: #00afec;
    text-transform: uppercase;
}
.field-type-taxonomy-term-reference ul{
    margin: 0;
    padding: 0;
}
.field-type-taxonomy-term-reference ul li{
    list-style: none;
}
.featured-event .views-field-field-event-type a,
.field-type-taxonomy-term-reference ul li a{
    font-family: opensans-bold;
}
.field-type-taxonomy-term-reference ul li a.active{
    color: #ed1c24;
}
.group-event-buttons{
    margin-top: 60px;
}
.group-event-buttons > div{
    display: inline-block;
    margin-right: 10px;
}
.field-name-field-registration-url a,
div#addeventatc1{
    font-family: opensans;
    display: inline-block;
    border: none;
    background: #ed1c24;
    top: 0;
    color: #FFF !important;
    font-size: 16px;
    border-radius: 0;
    padding: 20px;
    line-height: 16px;
}
span.addeventatc_icon.atc_node{
    display: none;
}
.addeventatc:active{
    top: 0;
}

.view-events .view-header h2,
.view-taxonomy-term .view-header h2{
    font-size: 24px;
}
.view-events .attachment-after,
.view-taxonomy-term .attachment-after{
    margin-top: 35px;
}

/* Affliated Grid & Research Grid */

.square-grid .views-row{
    float: left;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    padding-right: 8px;
    margin-bottom: 8px;
}
.square-grid .views-row img{
    display: block;
}
.square-grid h2.node-title{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.square-grid h2.node-title a{
    display: block;
    color: #FFF;
    background: rgba(0,0,0,.8);
    font-weight: normal;
    line-height: 1.75vw;
    font-size: 1.43vw;
    padding: 1.4vw 2.5vw;
}
.square-grid .node-inner-wrap{
    position: relative;
}
.square-grid.research h2.node-title a{
    font-size: 16px;
    font-family: opensans-semi;
    line-height: 20px;
}
.square-grid .views-row article{
    position: relative;
}
.square-grid .views-row:hover article:before{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ed1c24;
    z-index: 99;
}
.square-grid .views-row:hover h2.node-title a{
    background: rgba(237,28,36,.8);
}

/* Research Detail */

.node-type-research .field-name-field-research-image{
    border-bottom: 1px solid red;
    padding-bottom: 30px;
}

.node-type-research h2.node-title{
    font-family: opensans-bold;
    font-size: 30px;
    line-height: 34px;
    margin: 30px 0;
}

.field-name-field-research-leads .field-label{
    font-size: 20px;
    font-family: opensans-bold;
}
.field-name-field-research-leads,
.node-type-research .research-web-url{
    font-size: 14px;
}
.node-type-research .research-web-url,
.node-type-research .field-name-field-research-leads,
.node-type-research .field-name-body{
    margin-bottom: 20px;
}
.node-type-research .research-web-url,
.node-type-research .field-name-field-funding-sources .field-label{
    font-family: opensans-bold;
}

.field-name-field-research-image-caption{
    border-top: 1px solid #c2c2c2;
    margin-top: 30px;
    padding-top: 30px;
    font-size: 11px;
    font-style: italic;
}

/* Footer */
#footer{
    max-width: 1400px;
    margin: auto;
}
#footer .block-content a{
    color: #000;
}
#footer-wrapper{
    border-top: 2px solid #ee232b;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#footer .block-title{
    font-family: opensans-light;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 5px;
}
#footer #block-block-1{
    float: left;
    font-size: 16px;
}
#footer #block-block-1 .block-content ul{
    padding: 0;
    margin: 0;
}
#footer #block-block-1 .block-content ul li{
    display: inline-block;
    vertical-align: middle;
}
#footer #block-block-1 .block-content ul li img{
    width: 75%;
}
#footer #block-menu-block-2{
    float: right;
    font-size: 18px;
}
#footer #block-menu-block-2 .block-content ul.menu{
    padding: 0;
    margin: 10px 0 0;
}
#footer #block-menu-block-2 .block-content ul.menu li{
    list-style: none;
}
#footer h3{
    font-family: opensans-semi;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.page-search #search-form{
    margin-top: 20px;
}
.page-search #search-form label{
    display: block;
    margin-bottom: 5px;
}
.page-search .search-info{
    display: none;
}