/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */

@media only screen and (min-width: 1400px) {
    .section-academic-programs #content .block-menu-block{
        padding-top: 225px;
    }
    .square-grid h2.node-title a{
        padding: 20px 35px;
        font-size: 20px;
        line-height: 24px;
    }
    .field-name-field-big-link a, #content .block-menu-block ul.menu li a{
        padding: 20px;
        font-size: 30px;
    }
    .front .home-panel{
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .front .field-name-field-headline{
        font-size: 75px;
        padding-left: 45px;
    }
    .front #content .node-content, .front #content .node-content a{
        font-size: 30px;
        line-height: 40px;
    }
    .front .no-link .field-name-field-content{
        font-size: 45px;
        line-height: 48px;
        padding: 45px 75px;
    }
    .front .field-name-field-content{
        padding: 45px;
    }
    .front #content .node-research.node-teaser h2.node-title{
        padding: 25px 20px;
    }
}

@media only screen and (max-width: 1024px) {
    #logo img{
        width: 300px;
    }
    .burger{
        font-size: 20px;
    }
    .burger img{
        width: 40px;
    }
    #search-glass{
        margin-top: 3px;
    }
    #block-search-form{
        margin-top: 3px !important;
    }
    #burger-wrap, #search-glass{
        padding-top: 58px;
    }
    .node-core-department.node-teaser .field-name-field-dept-image{
        width: 200px;
        padding-right: 20px;
    }
    .node-core-department.node-teaser h2.node-title{
        font-size: 30px;
        line-height: 36px;
    }
    .square-grid .views-row{
        width: 33.33%;
    }
    .square-grid h2.node-title a{
        line-height: 2.1vw;
        font-size: 1.8vw;
    }
}
@media only screen and (max-width: 768px) {
    .region-leaderboard, #header, #footer, .not-front #columns, .not-front #main-content-header .title-wrap{
        padding: 0 30px;
    }
    .section-about #content .block-menu-block ul.menu li, .section-research #content .block-menu-block ul.menu li{
        width: 100%;
        padding-right: 0;
    }
    .field-name-field-big-link a, #content .block-menu-block ul.menu li a{
        font-size: 16px;
        line-height: 24px;
        padding: 20px;
    }
    .node-core-department.node-teaser .field-name-field-dept-image{
        display: none;
    }
    .square-grid .views-row{
        width: 50%;
    }
    .square-grid h2.node-title a{
        line-height: 19px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 620px) {
    #logo img{
        width: 250px;
    }
    .burger img{
        width: 36px;
    }
    #search-glass img{
        width: 31px;
    }
    #burger-wrap, #search-glass{
        padding-top: 47px;
    }
    #block-search-form{
        width: 100%;
        box-sizing: border-box;
    }
    .region-header{
        padding-top: 10px;
    }
    
    .front .field-name-field-headline{
        font-size: 32px;
        line-height: 33px;
        margin-bottom: -5px;
    }
    .front #content .node-content, .front #content .node-content a{
        font-size: 16px;
        line-height: 20px;
    }
    .front .no-link .field-name-field-content{
        font-size: 20px;
        line-height: 22px;
    }
    .front .field-type-link-field .field-item,
    .front .double-link .field-type-link-field .field-item,
    .front .triple-link .field-type-link-field .field-item{
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
        width: 100%;
    }
    .front #content .node-research.node-teaser h2.node-title, .front #content .node-research.node-teaser h2.node-title a{
        padding: 7px 10px;
    }
    #footer .block-title{
        font-size: 25px;
        margin-bottom: 0;
    }
    #footer h3{
        font-size: 20px;
    }
    #footer #block-block-1 p{
        font-size: 13px;
    }
    #footer #block-menu-block-2{
        font-size: 16px;
    }
    #footer #block-block-1,
    #footer #block-menu-block-2{
        clear: both;
        float: none;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 520px) {
    #burger-wrap{
        clear: both;
        margin-left: 3px;
        margin-right: 15px;
    }
    #burger-wrap, #search-glass{
        padding-top: 15px;
        float: left;
    }
}

@media only screen and (max-width: 480px) {
    .field-name-field-image-grid-item .field-item{
        margin-right: 2%;
        width: 48%;
    }
}

@media only screen and (max-width: 420px) {
    .square-grid .views-row{
        width: 100%;
    }
}

